<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>access</title>
    <link rel="stylesheet" href="/CSS/home.css">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
  </head>
  <body>
    <header>
      <div class="header-logo">
        <p><a class="link-home" href="./"><span class="fa fa-utensils"></span>Iori.Repas</a></p>
      </div>
      <div class="menu-icon">
        <span class="fa fa-bars"></span>
      </div>  
    </header>
    <main>
      <div class="page-menu">
        <ul>
          <li><a href="./">HOME</a></li>
          <li><a href="./menu">MENU&PRICE</a></li>
          <li><a href="./contact">CONTACT</a></li>
        </ul>
      </div>
      <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d340388.44103869924!2d139.53701674650833!3d35.328166838011086!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x60184b5a2ba57eb3%3A0x556d58ba47c48f26!2z55u45qih5rm-!3m2!1d35.2325847!2d139.3643917!5e0!3m2!1sja!2sjp!4v1598240376628!5m2!1sja!2sjp" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>
      <div class="access-infomation">
        <p>〒252-oooo 神奈川oo市oo o-o-oo</p>
        <p>片瀬江ノ島駅（小田急線）</p>
        <p>から泳いで5時間</p>
      </div>

    </main>
    
    <script type="text/javascript" src="/jquery/home.js"></script>
  </body>
</html>