<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="home.css">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
  </head>
  <body>
    <header>
      <div class="header-logo">
        <p><span class="fa fa-utensils"></span>Iori.Repas</p>
      </div>
      <div class="menu-icon">
        <span class="fa fa-bars"></span>
      </div>  
    </header>
    <main>
      <div class="slide-wrapper">
        <div class="slides">
          <img class="image-home" src="pizza.png">
          <img class="image-home" src="roast-beef.png">
          <img class="image-home" src="steak.png">
          <img class="image-home" src="beer-in.png">
          <img class="image-home" src="wiskey.png">
        </div>
      </div>
      <div class="page-menu">
        <ul>
          <li><a href="menu.ejs">MENU&PRICE</a></li>
          <li><a href="access.ejs">ACCESS</a></li>
          <li><a href="contact.ejs">CONTACT</a></li>
        </ul>
      </div>
      <div class="acount-wrapper">
        <h1><span class="fa fa-utensils"></span>Iori.Repas</h1>
        <p>アメリカはフィラデルフィアに本店を置く</p>
        <p>ステーキが人気のBARです</p>
        <p>※このBARは架空のものです</p>
      </div>
      <div class="message-wrapper">
        <div class="message-btn">
          <h1>覗いてみよう</h1>
          <p class="message"><a href="./menu">メニューを見る</a></p>
        </div>
      </div>
      <div class="infomation-wrapper">
        <p>〒252-1105 神奈川県綾瀬市oo o-o-oo</p>
        <p>TEL.  0467-oo-oooo</p>
      </div>
      
    </main>
    <script type="text/javascript" src="/jquery/home.js"></script>
  </body>
</html>
