<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>menu</title>
    <link rel="stylesheet" href="menu.css">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
  </head>
  <body>
    <header>
      <div class="header-logo">
        <p><a class="link-home" href="./"><span class="fa fa-utensils"></span>Iori.Repas</a></p>
      </div>
      <div class="menu-icon">
        <span class="fa fa-bars"></span>
      </div>  
    </header>
    <div class="page-menu">
      <ul>
        <li><a class="menu-link" href="./">HOME</a></li>
        <li><a class="menu-link" href="./access">ACCESS</a></li>
        <li><a class="menu-link" href="./contact">CONTACT</a></li>
      </ul>
    </div>
    <div class="menu-wrapper">
      <h1>Menu</h1>
      <div class="menu-account">
        <div class="price">
          <h2>Steak</h2>
          <p>200g - 1200円</p>
          <p>400g - 2000円</p>
          <p>600g - 3600円</p>
        </div>
        <img src="steak.png">
      </div>
      <div class="menu-account">
        <div class="price">
          <h2>Pizza</h2>
          <p>Margherita - 800円</p>
          <p>Pescatore - 800円</p>
        </div>
        <img src="pizza.png">
      </div>
      <div class="menu-account">
        <div class="price">
          <h2>Alcohol <i class="fas fa-wine-glass-alt"></i></h2>
          <p>Beer - 10円</p>
          <p>Wine - 10円</p>
          <p>Cocktails - 10円</p>
          <p>Whisky - 10円</p>
          <p>Highball - 10円</p>
          <p>Sour - 10円</p>
        </div>
        <img src="beer.png">
      </div>
      <div class="menu-account last-menu">
        <div class="price">
          <h2>Side Menu</h2>
          <p>Potato - 400円</p>
          <p>Popcorn - 400円</p>
        </div>
        <img src="potatofly.png">
      </div>
    </div>
    <script type="text/javascript" src="/jquery/home.js"></script>
  </body>
</html>
